####### Cloudflare
CF_API_EMAIL=your_email@address.com # cloudflare account username e.g.
CF_DNS_API_TOKEN=XXXXXXXXX # cloudflare API Key
######## Traefik
TRAEFIK_URL=YOUR_DOMAIN # traefik.example.com
TRAEFIK_DASHBOARD_USER=YOUR_USERNAME # e.g. admin
TRAEFIK_DASHBOARD_PWD=YOUR_GENERATED_PASSWORD
# password should be generated using `htpasswd` (md5, sha1 or bcrypt)
######## Portainer
PORTAINER_URL=YOUR_DOMAIN # portainer.example.com.
PORTAINER_PORT=9000 #Default
######## PGADMIN
PGADMIN_URL=YOUR_DOMAIN # pgadmin.example.com.
PGADMIN_PORT=80 #Default
PGADMIN_DEFAULT_EMAIL=your-email@example.com
PGADMIN_DEFAULT_PASSWORD=XXXX
######## JENKINS
JENKINS_URL=jenkins.example.de # jenkins.example.com.
JENKINS_PORT=8080 #Default
